*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{height:100vh;}

.app{
display:flex;
height:100vh;
}

.sidebar{
width:320px;
padding:15px;
border-right:1px solid #ddd;
overflow:auto;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
border-radius:8px;
}

.result{
padding:8px;
border-bottom:1px solid #eee;
cursor:pointer;
}

.result:hover{
background:#f0f0f0;
}

#map{
flex:1;
}
